[submodule "external/cutile-python"]
	path = external/cutile-python
	url = https://github.com/NVIDIA/cutile-python.git
[submodule "external/minGPT"]
	path = external/minGPT
	url = https://github.com/karpathy/minGPT.git
[submodule "external/cuda-tile"]
	path = external/cuda-tile
	url = https://github.com/NVIDIA/cuda-tile.git
